.calculadora-completa {
	width: 570px;
	height: 970px;
	display: grid;
	grid-template-columns: repeat(auto-fit, 4, minmax(50px, 1fr));
	grid-template-rows: repeat(auto-fit, 6, minmax(50px, 1fr));
}

.visor-zerar {
	display: grid;
	grid-template-columns: 1fr;
	grid-template-rows: 50px;
	grid-gap: 10px;
}

.item {

}

.visor {
	width: 100%;
	height: 50px;
}

.zerar {
	height: 50px;
	width: 100%;
}

.numeros {
	display: grid;
	grid-template-rows: repeat(4, 55px);
	grid-template-columns: repeat(3, 55px);
	grid-gap: 5px;
	margin-left: 5px;
	grid-template-areas: "" "" "" "especial especial especial";
}

.operador {
	
}

.algarismo {
	width: 55px;
	height: 55px;
}

.especial {
	grid-area: especial;
}

.operadores {
	display: grid;

}