.caixa-calculadora {
	position: relative;
	margin: 150px auto;
	width: 700px;
	height: 700px;
}

.calculadora-completa {
	position: absolute;
	width: 50%; /*O ideal é 30% nos dois*/
	height: 50%;
	display: grid;
	grid-template-columns: 2fr 1fr;       /*repeat(auto-fit, 4, minmax(50px, 1fr));*/
	grid-template-rows: auto auto auto-fill;             /*repeat(auto-fit, 6, minmax(50px, 1fr));*/
	grid-template-areas:
	"visor-zerar visor-zerar"
	"numeros operadores"
	"resultado resultado";
	grid-gap: 10px;
}

.visor-zerar {
	display: grid;
	grid-template-columns: 1fr;
	grid-template-rows: 50px 50px;
	grid-gap: 10px;
	margin-left: 5px;
	grid-area: visor-zerar;
}

.item {
	font-size: 2.1em;
	justify-content: center;
	text-align: center;
}

.visor {
	width: 97.7%;
	height: 100%;
}

.zerar {
	height: 100%;
	width: 100%;
}

.numeros {
	display: grid;
	grid-template-rows: repeat(3, auto-fit) auto-fill;
	grid-template-columns: repeat(3, auto);
	grid-gap: 10px;
	margin-left: 5px;
	grid-template-areas: 
	"auto auto auto"
	"auto auto auto"
	"auto auto auto"
	"especial especial especial";
	grid-area: numeros;
}

.operador {
	min-height: 60px;
	min-width: 50px;
	width: 100%;
	height: 100%;
}

.algarismo {
	min-height: 70px;
	min-width: 50px;
	width: 100%;
	height: 100%;
}

.especial {
	grid-area: especial;
	width: 100%;
	height: 100%;
}

.operadores {
	display: grid;
	grid-gap: 10px;
	grid-template-columns: 100%;
	grid-template-rows: repeat(4, auto-fit);
	grid-area: operadores;
	margin-left: 15px;
}

.resultado {
	
}

.igual {
	grid-area: resultado;
	width: 100%;
	height: 100%;
}
